<html>

<body>
    <script type="text/javascript">
        // do something with obj
    </script>
    <ul>
        <% empresas.forEach(function(empregos) { %>
            <li> Vagas:
                <%=empregos.vaga%>
                    <br>Salario:
                    <%=empregos.salario%>
                        <br>URL
                        <a href="<%=empregos.job_url%>">
                            Ir para vaga!
                    </a>
            </li>
            <% }); %>
    </ul>

    <iframe><%- include('./chart'); %></iframe>
</body>

</html>